# WebDAV Configuration
WEBDAV_URL=
WEBDAV_USERNAME=
WEBDAV_PASSWORD=
WEBDAV_PATH=/WebDAV-Notes

# App Customization
SITE_NAME=云端网络记事本
AUTH_PASSWORD=
LOCK_PASSWORD=

# Gemini API Key (Server-side)
GEMINI_API_KEY=
